# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Populações geradas
populations/

# IDE
.vscode/
.idea/

# Node
node_modules/
package-lock.json

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS
.DS_Store
Thumbs.db
